<!DOCTYPE html>
<html>
<head>
    <title>{{elevage.name}}</title>
</head>
<body>

    <h1>Détail de l'élevage : {{ elevage.name }}</h1>

    <ul>
    <li><strong>Argent :</strong> {{ elevage.argent }} €</li>
    <li><strong>Nourriture :</strong> {{ elevage.qt_nourriture }} kg</li>
    <li><strong>Nombre de cages :</strong> {{ elevage.nb_cages }}</li>
    <li><strong>Nombre de lapins :</strong> {{ nombre_lapins }}</li>
    </ul>

    <h3>Lapins actuels :</h3>
    <ul>
        {% for lapin in lapins %}
            {% if lapin.etat == "présent" or lapin.etat == "gravide" %}
                <li>{{ lapin }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    
    <br><br>



    <h1>Actions du tour</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Valider le tour</button>
    </form>



    <br><br>
    <p><a href="{% url 'elevage:regles' %}" target="_blank">Voir la liste des règles</a></p>
    <a href="{% url 'elevage:liste' %}">Voir la liste des élevages</a>
</body>
</html>