{% extends "elevage/base.html" %}

{% block title %}Liste des élevages{% endblock %}

{% block content %}

{% if message %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endif %}
<h1>liste des élevages :</h1>
<div class="list">
    {% for raising in elevages %}
        <div class="elevage-item">
            <a href="{% url 'elevage:detail' raising.id %}" class="elevage-link">
                <span class="elevage-name">{{ raising.name }}</span>
            </a>
        </div>
    {% endfor %}
</div>

    
<br><br>

<a href="{% url 'elevage:menu' %}">Retour au menu</a>

{% endblock %}