{% extends "elevage/base.html" %}

{% block title %}Règles du jeu{% endblock %}

{% block content %}
<h1>Règles pour les élevages de lapins :</h1>
<br>

    <fieldset>
    <legend><h2>Economie :</h2></legend>
    <ul>
        <li><strong>Prix de la nourriture par kg :</strong> {{ regles.PRIX_NOURRITURE_PAR_KG }} €/kg</li>
        <li><strong>Prix d'une cage :</strong> {{ regles.PRIX_CAGE }} €</li>
        <li><strong>Prix de vente d'un lapin :</strong> {{ regles.PRIX_VENTE_LAPIN }} €</li>
    </ul>
    </fieldset>
    <br>

    <fieldset>
    <legend><h2>Nourriture :</h2></legend>
    <ul>   
        <li><strong>Consommation de nourriture pour un lapin (mois 1) :</strong> lait maternel</li>
        <li><strong>Consommation de nourriture pour un lapin (mois 2) :</strong> {{ regles.CONSOMMATION_MOIS_2 }} kg/jour</li>
        <li><strong>Consommation de nourriture pour un lapin (mois 3 et plus) :</strong> {{ regles.CONSOMMATION_MOIS_3_ET_PLUS }} kg/jour</li>
    </ul>
    </fieldset>
    <br>

    <fieldset>
    <legend><h2>Reproduction :</h2></legend>
    <ul>
        <li><strong>Nombre maximum de lapereaux par portée :</strong> {{ regles.PORTEE_MAX }}</li>
        <li><strong>Probabilité de reproduction d'une femelle en état de se reproduire :</strong> {{ regles.PROBA_REPRO }}</li>
        <li><strong>Âge minimum pour être gravide :</strong> {{ regles.AGE_MATURITE_GRAVIDITE }} mois</li>
        <li><strong>Âge maximum pour être gravide :</strong> {{ regles.AGE_MAX_GRAVIDITE }} mois</li>
        <li><strong>Durée de gestation :</strong> {{ regles.DUREE_GESTATION }} mois</li>
    </ul>
    </fieldset>
    <br>

    <fieldset>
    <legend><h2>Surpopulation :</h2></legend>
    <ul>
        <li><strong>Nombre maximum d'individus par cage :</strong> {{ regles.INDIVIDUS_PAR_CAGE_MAX }}</li>
        <li><strong>Nombre maximum d'individus en surpopulation par cage :</strong> {{ regles.INDIVIDUS_PAR_CAGE_SURPOP }}</li>
    </ul>
    </fieldset>
    <br>

    <fieldset>
    <legend><h2>Morts par vieillesse</h2></legend>
    <ul>
        <li><strong>Âge à partir duquel les lapins meurent de vieillesse :</strong> {{ regles.DUREE_MAX_VIE}} mois</li>
        <li><strong>Probabilité d'un lapin de mourir de vieillesse :</strong> {{ regles.PROBA_MORT_VIEUX }}</li>
    </ul>
    </fieldset>
    <br>

    <fieldset>
    <legend><h2>Santé des lapinous</h2></legend>
    <ul>
        <li><strong>Probabilité d'apparition d'une maladie :</strong> 5% </li>
        <li><strong>Probabilité d'apparition d'une maladie si plus de 6 (7,8,9,10) par cage:</strong> 20% (40,60,80,100%) </li>
        <li><strong>Probabilité de disparition de d'une maladie par tranche de 20€ dépensés :</strong> 50% </li>
        <li><strong>Niveau de santé d'un individu sain :</strong> +20 </li>
        <li><strong>Niveau de santé d'un individu malade :</strong> -20 </li>
    </ul>
    </fieldset>
    <br>


    <br><br>
    <a href="{% url 'elevage:menu' %}">Retour au menu</a>

{% endblock %}