<!DOCTYPE html>
<html>
<head>
    <title>Création d'un élevage</title>
</head>
<body>

    <h1>créer un élevage :</h1>

    <form action="{% url "elevage:nouveau"  %}" method="post">
        {% csrf_token %}
    
        <fieldset>
            <legend>Informations de l'élevage</legend>
            {{ elevage_form.as_p }}
        </fieldset>
    
        <fieldset>
            <legend>Individus initiaux</legend>
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="individu-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </fieldset>
    
        <button type="submit">Créer l'élevage</button>
    </form>

    <br><br>

    <a href="{% url 'elevage:menu' %}">Retour au menu</a>
</body>
</html>