<!DOCTYPE html>
<html>
<head>
    <title>Création d'un élevage</title>
</head>
<body>

    <h1>Créer un élevage :</h1>

    <form method="post">
        {% csrf_token %}
    
        <h2>Données de l'élevage</h2>
        {{ elevage_form.as_p }}
    
        <h2>Lapins initiaux</h2>
        {{ lapin_formset.management_form }}
        {% for form in lapin_formset %}
            <fieldset>
                {{ form.as_p }}
            </fieldset>
        {% endfor %}
    
        <button type="submit">Créer l'élevage</button>
    </form>

    <br><br>

    <a href="{% url 'elevage:menu' %}">Retour au menu</a>
</body>
</html>