{% extends "elevage/base.html" %}

{% block title %}Supprimer {{ elevage.name }} ?{% endblock %}

{% block content %}
<h1>Confirmer la suppression de l'élevage : {{ elevage.name }}</h1>

    <p>Êtes-vous sûr de vouloir supprimer cet élevage ? Cette action est irréversible.</p>

    <form method="post" style="all: unset;">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élevage ?')">Confirmer</button>
    </form>

    <a href="{% url 'elevage:detail' elevage.id %}"><button>Annuler</button></a>

    <br><br>

{% endblock %}